/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

ul#menu-flooring-menu > li > a{
    color: #fff !important;
}

body{
    display: none;
}
#primary{
    margin-top: 0px!important;
}